* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica";
  font-size: 18px;
}

header {
  color: white;
  background-color: #4A90E2;
  text-align: center;
  height: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  font-family: "HelveticaNeue-CondensedBlack";
  font-size: 4em;
}

.tagline {
  margin-bottom: 20px;
  font-weight: 100;
}

.bubbles {
  list-style: none;
  overflow: hidden;
}

.bubbles > li {
  display: inline-block;
  margin-right: 10px;
}

.bubbles > li:last-child {
  margin-right: 0;
}

.bubbles > li a {
  background-color: white;
  border-radius: 50%;
  font-size: 1.2em;
  width: 35px;
  height: 35px;
  color: #4A90E2;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bubbles > li:last-child {
  margin-right: 0;
}

.card h2, .card p {
  font-family: "HelveticaNeue-Thin";
  font-weight: 100;
}

.card h2 {
  font-size: 2.15em;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px;

  max-width: 960px;
  margin: 0 auto;
}

.col {
  padding: 10px;
  margin-right: 20px;
  flex-grow: 1;
}

.col:last-child {
  margin-right: 0;
}

.timeline {
  list-style: none;
  min-width: 270px;
}

.timeline li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.timeline li:last-child {
  margin-bottom: 0;
}

.timeline .badge {
  border-radius: 7px;
  color: white;
  background-color: #4A90E2;
  padding: 3px 5px;
  font-size: 0.7em;
  margin-right: 10px;
}

@media (max-width: 670px) {
  .row {
    flex-direction: column;
  }

  .col {
    margin-right: 0;
  }
}
